.mktoForm {
	width: 100% !important;
	flex-direction: row;
	font-family: 'Poppins', sans-serif !important;
}
.mktoForm,
.mktoForm * {
	box-sizing: border-box;
	padding: 0;
}
.mktoForm:after {
	content: '';
	clear: both;
	visibility: hidden;
	color: transparent;
}
.mktoForm .mktoErrorMsg {
	color: red;
}
.mktoForm .mktoAsterix {
	color: #5a7184;
}
.mktoForm .mktoAsterix,
.mktoForm .mktoClear,
.mktoForm .mktoFormRow.hidden,
.mktoForm .mktoGutter,
.mktoForm .mktoOffset,
.mktoForm .mktoRequiredField .mktoAsterix {
	float: right !important;
	padding-left: 0 !important;
}
.mktoForm .mktoGutter {
	display: none;
}
.mktoForm .mktoRequiredField .mktoAsterix {
	display: block;
}
.mktoForm .mktoFieldWrap,
.mktoForm .mktoFormCol {
	width: 100%;
}
.mktoForm .mktoFormCol {
	margin: 0 !important;
}
.mktoForm .mktoButtonRow,
.mktoForm .mktoFormRow {
	clear: both;
	width: 100%;
	margin: 0 0 !important;
}
.mktoForm .mktoFormRow {
	width: 46% !important;
	clear: none !important;
	margin: 0 2% !important;
	float: left;
}
@media (max-width: 767px) {
	.mktoForm .mktoFormRow {
		float: left;
		clear: both !important;
		width: 100% !important;
		margin: 0 0 !important;
	}
}
.mktoForm input[type='url'],
.mktoForm input[type='text'],
.mktoForm input[type='date'],
.mktoForm input[type='tel'],
.mktoForm input[type='email'],
.mktoForm input[type='number'],
.mktoForm textarea.mktoField,
.mktoForm select.mktoField {
	height: auto;
	line-height: normal;
	font-size: inherit;
}
.mktoForm .mktoFormRow .mktoRequiredField label.mktoLabel {
	font-weight: bold;
	display: flex;
	color: #5a7184;
	margin-bottom: 1rem;
}
.mktoForm .mktoFormRow input,
.mktoForm .mktoFormRow label,
.mktoForm .mktoFormRow select,
.mktoForm .mktoFormRow textarea {
	clear: both;
	box-sizing: border-box;
	font-size: 1rem;
	line-height: 1rem;
	color: #5f6972;
	font-weight: normal;
	width: 100% !important;
	margin: 0 0 5px;
}
.mktoForm .mktoFormRow label {
	float: left;
	text-transform: normal !important;
	padding-left: 0;
	font-weight: 650 !important;
	color: #002d5c !important;
}
.mktoForm .mktoFormRow input,
.mktoForm .mktoFormRow select,
.mktoForm .mktoFormRow textarea {
	float: right;
}
.mktoForm .mktoFormRow input,
.mktoForm .mktoFormRow textarea {
	padding: 9px 8px !important;
	min-height: 46px;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 4px;
}
.mktoForm .mktoFormRow input[type='checkbox'] {
	float: left;
	clear: left;
	width: 15px !important;
	padding: 0;
	margin: 0 5px 0 0 !important;
	border: none;
}
.mktoForm .mktoFormRow .checkbox-wrapper {
	display: flex;
	width: 100%;
}
.mktoForm .mktoFormRow select {
	height: 46px;
	padding: 6px 0;
	background: #fff;
	min-height: 30px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 0 !important;
}
.mktoForm .mktoFormRow textarea {
	min-height: 100px;
}
.mktoForm .mktoFormRow .mktoCheckboxList {
	display: flex !important;
	padding: 0 !important;
	display: none !important;
}
.mktoForm .mktoFormRow.checkbox label {
	width: 83% !important;
	margin: 0 0 0 36px;
	text-transform: none;
}
.mktoForm .mktoFormRow.checkbox input {
	margin-top: -34px;
}
.mktoForm .mktoButtonRow {
	text-align: center;
	margin-top: 20px !important;
}
.mktoForm .mktoButtonRow .mktoButtonWrap {
	margin: 0 !important;
}
.mktoForm .mktoButtonRow .mktoButtonWrap button.mktoButton {
	cursor: pointer !important;
	background-color: #002d5c !important;
	background-image: none !important;
	border: none !important;
	color: #fff !important;
	border-radius: 4px !important;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
	transition: all 0.15s ease !important;
	font-family: 'Poppins', sans-serif !important;
	-webkit-font-smoothing: antialiased !important;
	font-weight: 600 !important;
	font-size: 1.2rem;
	text-transform: uppercase !important;
	opacity: 1 !important;
	transition: all 0.15s ease !important;
	padding: 0.75rem 2.75rem !important;
}

#LblEvent_Notes__c {
	display: none;
}

@media (max-width: 575px) {
	.mktoForm .mktoButtonRow .mktoButtonWrap button.mktoButton {
		padding: 0;
		margin: 0;
	}
}
.mktoForm .mktoButtonRow .mktoButtonWrap button.mktoButton > a {
	text-decoration: none;
}
.mktoForm .mktoButtonRow .mktoButtonWrap button.mktoButton:hover {
	transform: translateY(-1px) !important;
	box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08) !important;
	opacity: 0.85 !important;
}
@media only screen and (min-width: 768px) {
	.embedded-marketo-form .mktoForm .mktoFormRow {
		clear: none;
		width: 210px;
		margin-right: 10px;
	}
}
@media only screen and (min-width: 980px) {
	.embedded-marketo-form .mktoForm .mktoFormRow {
		clear: both;
		width: 100%;
		margin-right: 0;
	}
	.embedded-marketo-form .mktoForm .mktoFormRow label {
		display: none;
		padding-left: 0;
	}
	.embedded-marketo-form .mktoForm .mktoFormRow.checkbox label,
	.embedded-marketo-form .mktoForm .mktoFormRow.select-dropdown label {
		display: block;
		text-transform: none;
	}
}
@media only screen and (min-width: 1060px) {
	.embedded-marketo-form .mktoForm .mktoFormRow {
		clear: none;
		width: 210px;
		margin-right: 10px;
	}
	.embedded-marketo-form
		.mktoForm
		.mktoFormRow.select-dropdown:nth-of-type(even) {
		/* Intended as 'odd', but apparently there's a hidden one somewhere? So Weird. */
		clear: left;
	}
}
